@font-face {
  font-family: 'geometria-bold';
  src: url('../fonts/geometria-bold-webfont.eot');
  src: url('../fonts/geometria-bold-webfont.woff2') format('woff2'),
  url('../fonts/geometria-bold-webfont.woff') format('woff'),
  url('../fonts/geometria-bold-webfont.ttf') format('truetype'),
  url('../fonts/geometria-bold-webfont.svg#geometria-bold-webfont') format('svg'),
  url('../fonts/geometria-bold-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-bolditalic';
  src: url('../fonts/geometria-bolditalic-webfont.eot');
  src: url('../fonts/geometria-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/geometria-bolditalic-webfont.woff') format('woff'),
  url('../fonts/geometria-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/geometria-bolditalic-webfont.svg#geometria-bolditalic-webfont') format('svg'),
  url('../fonts/geometria-bolditalic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-extrablack';
  src: url('../fonts/geometria-extablack-webfont.eot');
  src: url('../fonts/geometria-extablack-webfont.woff2') format('woff2'),
  url('../fonts/geometria-extablack-webfont.woff') format('woff'),
  url('../fonts/geometria-extablack-webfont.ttf') format('truetype'),
  url('../fonts/geometria-extablack-webfont.svg#geometria-extablack-webfont') format('svg'),
  url('../fonts/geometria-extablack-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-extrablackitalic';
  src: url('../fonts/geometria-extrablackitalic-webfont.eot');
  src: url('../fonts/geometria-extrablackitalic-webfont.woff2') format('woff2'),
  url('../fonts/geometria-extrablackitalic-webfont.woff') format('woff'),
  url('../fonts/geometria-extrablackitalic-webfont.ttf') format('truetype'),
  url('../fonts/geometria-extrablackitalic-webfont.svg#geometria-extrablackitalic-webfont') format('svg'),
  url('../fonts/geometria-extrablackitalic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-extralight';
  src: url('../fonts/geometria-extralight-webfont.eot');
  src: url('../fonts/geometria-extralight-webfont.woff2') format('woff2'),
  url('../fonts/geometria-extralight-webfont.woff') format('woff'),
  url('../fonts/geometria-extralight-webfont.ttf') format('truetype'),
  url('../fonts/geometria-extralight-webfont.svg#geometria-extralight-webfont') format('svg'),
  url('../fonts/geometria-extralight-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-extralightitalic';
  src: url('../fonts/geometria-extralightitalic-webfont.eot');
  src: url('../fonts/geometria-extralightitalic-webfont.woff2') format('woff2'),
  url('../fonts/geometria-extralightitalic-webfont.woff') format('woff'),
  url('../fonts/geometria-extralightitalic-webfont.ttf') format('truetype'),
  url('../fonts/geometria-extralightitalic-webfont.svg#geometria-extralightitalic-webfont') format('svg'),
  url('../fonts/geometria-extralightitalic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-heavy';
  src: url('../fonts/geometria-heavy-webfont.eot');
  src: url('../fonts/geometria-heavy-webfont.woff2') format('woff2'),
  url('../fonts/geometria-heavy-webfont.woff') format('woff'),
  url('../fonts/geometria-heavy-webfont.ttf') format('truetype'),
  url('../fonts/geometria-heavy-webfont.svg#geometria-heavy-webfont') format('svg'),
  url('../fonts/geometria-heavy-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-heavyitalic';
  src: url('../fonts/geometria-heavyitalic-webfont.eot');
  src: url('../fonts/geometria-heavyitalic-webfont.woff2') format('woff2'),
  url('../fonts/geometria-heavyitalic-webfont.woff') format('woff'),
  url('../fonts/geometria-heavyitalic-webfont.ttf') format('truetype'),
  url('../fonts/geometria-heavyitalic-webfont.svg#geometria-heavyitalic-webfont') format('svg'),
  url('../fonts/geometria-heavyitalic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-italic';
  src: url('../fonts/geometria-italic-webfont.eot');
  src: url('../fonts/geometria-italic-webfont.woff2') format('woff2'),
  url('../fonts/geometria-italic-webfont.woff') format('woff'),
  url('../fonts/geometria-italic-webfont.ttf') format('truetype'),
  url('../fonts/geometria-italic-webfont.svg#geometria-italic-webfont') format('svg'),
  url('../fonts/geometria-italic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-light';
  src: url('../fonts/geometria-light-webfont.eot');
  src: url('../fonts/geometria-light-webfont.woff2') format('woff2'),
  url('../fonts/geometria-light-webfont.woff') format('woff'),
  url('../fonts/geometria-light-webfont.ttf') format('truetype'),
  url('../fonts/geometria-light-webfont.svg#geometria-light-webfont') format('svg'),
  url('../fonts/geometria-light-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-lightitalic';
  src: url('../fonts/geometria-lightitalic-webfont.eot');
  src: url('../fonts/geometria-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/geometria-lightitalic-webfont.woff') format('woff'),
  url('../fonts/geometria-lightitalic-webfont.ttf') format('truetype'),
  url('../fonts/geometria-lightitalic-webfont.svg#geometria-lightitalic-webfont') format('svg'),
  url('../fonts/geometria-lightitalic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-medium';
  src: url('../fonts/geometria-medium-webfont.eot');
  src: url('../fonts/geometria-medium-webfont.woff2') format('woff2'),
  url('../fonts/geometria-medium-webfont.woff') format('woff'),
  url('../fonts/geometria-medium-webfont.ttf') format('truetype'),
  url('../fonts/geometria-medium-webfont.svg#geometria-medium-webfont') format('svg'),
  url('../fonts/geometria-medium-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-mediumitalic';
  src: url('../fonts/geometria-mediumitalic-webfont.eot');
  src: url('../fonts/geometria-mediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/geometria-mediumitalic-webfont.woff') format('woff'),
  url('../fonts/geometria-mediumitalic-webfont.ttf') format('truetype'),
  url('../fonts/geometria-mediumitalic-webfont.svg#geometria-mediumitalic-webfont') format('svg'),
  url('../fonts/geometria-mediumitalic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-thin';
  src: url('../fonts/geometria-thin-webfont.eot');
  src: url('../fonts/geometria-thin-webfont.woff2') format('woff2'),
  url('../fonts/geometria-thin-webfont.woff') format('woff'),
  url('../fonts/geometria-thin-webfont.ttf') format('truetype'),
  url('../fonts/geometria-thin-webfont.svg#geometria-thin-webfont') format('svg'),
  url('../fonts/geometria-thin-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria-thinitalic';
  src: url('../fonts/geometria-thinitalic-webfont.eot');
  src: url('../fonts/geometria-thinitalic-webfont.woff2') format('woff2'),
  url('../fonts/geometria-thinitalic-webfont.woff') format('woff'),
  url('../fonts/geometria-thinitalic-webfont.ttf') format('truetype'),
  url('../fonts/geometria-thinitalic-webfont.svg#geometria-thinitalic-webfont') format('svg'),
  url('../fonts/geometria-thinitalic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria';
  src: url('../fonts/geometria-webfont.eot');
  src: url('../fonts/geometria-webfont.woff2') format('woff2'),
  url('../fonts/geometria-webfont.woff') format('woff'),
  url('../fonts/geometria-webfont.ttf') format('truetype'),
  url('../fonts/geometria-webfont.svg#geometria-webfont') format('svg'),
  url('../fonts/geometria-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}