// VARIABLES
$ftGeometria: 'geometria', sans-serif;
$ftGeometriaBold: 'geometria-bold', sans-serif;
$ftGeometriaBoldItalic: 'geometria-bolditalic', sans-serif;
$ftGeometriaExtraBlack: 'geometria-extrablack', sans-serif;
$ftGeometriaExtraBlackItalic: 'geometria-extrablackitalic', sans-serif;
$ftGeometriaExtraLight: 'geometria-extralight', sans-serif;
$ftGeometriaExtraLightItalic: 'geometria-extralightitalic', sans-serif;
$ftGeometriaHeavy: 'geometria-heavy', sans-serif;
$ftGeometriaHeavyItalic: 'geometria-heavyitalic', sans-serif;
$ftGeometriaItalic: 'geometria-italic', sans-serif;
$ftGeometriaLight: 'geometria-light', sans-serif;
$ftGeometriaLightItalic: 'geometria-lightitalic', sans-serif;
$ftGeometriaMedium: 'geometria-medium', sans-serif;
$ftGeometriaMediumItalic: 'geometria-mediumitalic', sans-serif;
$ftGeometriaThin: 'geometria-thin', sans-serif;
$ftGeometriaThinItalic: 'geometria-thinitalic', sans-serif;

// Colors
$colorBlack: #000;
$colorFont: #333;
$colorWhite: #fff;
$bgHeader: #01275b;
$colorBlue: #015794;